/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.gallery-grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 1.5rem;
    margin: 45px auto;
    padding: 1rem;
}
