input[type="search"] {
    margin: 20px auto;
    display: block;
    width: 35%;
    height: 45px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 0.5rem;
    border-color: $black;
    text-indent: 0.5rem;

    &::placeholder {
        font-size: 0.8rem;
        color: $black;
    }

    &:focus {
        outline: none;
    }
}
